@model ExamScoringApp.Models.Sentence
@using Microsoft.AspNet.Identity;
@using MongoDB.Bson;
@using ExamScoringApp.Models;

@{
    ViewBag.Title = "Details";
    var userId = User.Identity.GetUserId();
    var userObjectId = new ObjectId(userId);
    List<TaggedToken> userTokens = null;
    bool readOnly = (bool)ViewBag.readOnly;
    var adminTokens = (List<TaggedToken>)ViewBag.adminTokens?.TaggedTokens;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Admin Tokens</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Admin Tokens</h5>
                </div>
                <div class="ibox-content">
                    <p id="userId" class="hidden">@userId</p>
                        <div class="tokenization">
                            <div class="dropzone-container">
                                @if (adminTokens!=null && adminTokens.Count>0)
                                {
                                    foreach (var item in adminTokens.Select(t => t.Token))
                                    {
                                        <ul>
                                            <li>@item</li>
                                        </ul>
                                    }
                                }
                                else
                                {
                                    <h5> Admins have not tokenized this sentence yet!</h5>
                                }
                            </div>
                          
                        </div>

                    <div class="lemma-tagging">
                        <form id="tagsForm">
                            <table class="table table-striped">
                                <thead>
                                <th>Token</th>
                                <th>Lemma</th>
                                <th>Tag</th>
                                </thead>
                                <tbody>
                                    @if (adminTokens != null && adminTokens.Count > 0)
                                    {
                                        foreach (var item in adminTokens)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(i => item.Token)</td>
                                                <td>@Html.DisplayFor(i => item.Lemma)</td>
                                                <td>@Html.DisplayFor(i => item.Tag)</td>

                                            </tr>
                                        }
                                    }    
                               
                                </tbody>
                            </table>
                            @*<button id="tagsFormSubmit" onclick="FormSubmit(this);" class="btn btn-primary hidden" type="submit" name="buttons"><i class="icon fa fa-save"></i> Save </button>*@
                        </form>
                    </div>

                    <br />
                    <button id="back" onclick="goBack(this)" class="btn btn-success" type="button" name="button"><i class="icon fa fa-chevron-left"></i> Back </button>


                    </div>
            </div>
        </div>
    </div>
 </div>


<script src="~/Scripts/draggable/draggable.min.js"></script>
<script src="~/Scripts/draggable/jquery.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script>
    const Tags = ["PRON", "ADJ", "NUM", "INTERJ", "DET", "ADV",
        "PERCENT", "VERB", "CONJ", "POSTP", "NOUN", "DUP", "PUNC"];
    const droppable = new window.Draggable.Droppable(document.querySelectorAll(".dropzone-container"), {
        draggable: ".draggable",
        droppable: ".dropzone-container>ul"
    });

    droppable.on("droppable:over", function () {
        $("ul").removeClass("draggable-droppable--occupied");
    });
    droppable.on("droppable:out", () => console.log("droppable:out"));

    state = {};
    function tokenize(el) {
        console.log(el, "clicked");
        state.finaltokens = [];
        tokens = document.querySelector('.dropzone-container')
        litokens = Array.from(tokens.children).map(ul => ul.children).filter(li => li.length > 0); //23

        litokens.forEach(li => {
            acc = "";
            Array.from(li).forEach(lii => {
                acc = acc + lii.innerHTML + " ";
            });
            state.finaltokens.push(acc.substring(0, acc.length - 1));
        })
        document.querySelector('.tokenization').classList.add('hidden');
        state.finaltokens.forEach(t => {
            createRow(t, t, Tags)
        })
        document.querySelector('.lemma-tagging').classList.remove('hidden')

    }

    function goBack() {
        window.history.back();
    }
    function FormSubmit(el){
        event.preventDefault();
        //$('#tagsForm').submit();
        console.log('tagsFormSubmit click');
        return false;
    }

    function save(el) {
        if (! $('#tagsForm')[0].checkValidity()) {
            $('#tagsFormSubmit').click();
            return;
        }
        var optionslist = Array.from(document.querySelectorAll('select'))
        state.tags = optionslist.map(ol => ol.options[ol.options.selectedIndex].innerHTML.trim())

        var lemmasList = Array.from(document.querySelectorAll('input.lemma'))
        state.lemmas = lemmasList.map(l => l.value)

        state.userId = document.querySelector('#userId').innerText;
        var sentenceId = '@Model.Id';
        console.log(sentenceId);

        var token = {};
        token.UserId = state.userId;
        token.TaggedTokens = [];
        for (var i = 0; i < state.tags.length; i++) {
            token.TaggedTokens.push({
                "Token": state.finaltokens[i],
                "Lemma": state.lemmas[i],
                "Tag":   state.tags[i],

            });
        };

        data = {
            "sentenceId": sentenceId,
            "userId": state.userId,
            "token": token,
        }

        $.ajax({
            url: '/Sentences/SaveTags',
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                //alert();
                if (response.success)
                    advAlert("Good job!", response.responseText, "success")
                else
                    advAlert("Error!", response.responseText, "error")
            },
            error: function () {
                advAlert("Error!", "Try again later", "error")
            }
        });

    }

    function advAlert(title, text, type) {
            swal(title, text, type)
                    .then((value) => {
                       window.location.href = window.location.origin+ "/Sentences/SentencesList/" + '@Model.Text_ID';
                    });
    }
    function createRow(token, lemma, tags)
    {

         var row = `<tr>
	        <td>
		        ` + token +`
	        </td>
	        <td>
		        <input required class="form-control lemma" type="text" placeholder="lemma" name="" value="`+ lemma +`">
	        </td>
	        <td>
		        <select required name="tag" class="form-control chzn-select " tabindex="0" >
			        <option value="">...</option>
			        `+selectList(tags)+`
		        </select>
	        </td>
        </tr>`


        document.querySelector('.table').tBodies[0].innerHTML += row
    }

    function selectList(options) {
         result = ``;
         i= 0;
        options.forEach( item=>
        {
            i++;
            result = result + `<option value="`+i+`">
	        `+item+`
        </option>`
        })

        return result;

    }
</script>







