<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ExamScoringApp | @ViewBag.Title</title>

    <link href="~/Content/css/draggable.css" rel="stylesheet" />
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    <link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/css/datatables.min.css" rel="stylesheet" />
</head>
<body>

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->
            @RenderBody()

            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/metsiMenu")
    @Scripts.Render("~/plugins/pace")
    @Scripts.Render("~/plugins/slimScroll")

    @Scripts.Render("~/bundles/inspinia")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/chosen.jquery.min.js"></script>

    @*<script src="~/Content/js/datatables.min.js"></script>*@
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script>

        //$(document).ready(function () {
        //    //$('.data-table').DataTable({});
        //    $('.table').DataTable({
        //        "initComplete": function (settings, json) {
        //            $('input[type=search]').addClass('form-control');
        //            $('select[name=table_length]').addClass('form-control');
        //        },
        //        pageLength: 25,
        //        responsive: true,
        //    });

        //});
    </script>


</body>
</html>
